// Tipo 1: pratica _1.1_metodologia-bem-pratica.html
.bloco {
  background: yellow;

  &__filho {
    background: purple;

    &-neto {
      background: green;
    }

    &-neto--nomedomodificador {
      background: blue;
    }
  }
}

// Tipo 2: pratica _1.1_metodologia-bem-pratica.html
.bloco-pai {
  background: yellow;

  &__filho {
    background: purple;

    &-neto {
      background: green;
    }

    &-neto--nomedomodificador {
      background: blue;
    }
  }
}

// Tipo 1: pratica _1.2_metodologia-bem-pratica.html
.unordered {
  background: yellow;

  &__list {
    background: purple;

    &-link-1 {
      background: green;
    }

    &-link-2 {
      background: blue;
    }

    &-link-3--modify {
      background: tomato;
    }
  }
}

// Tipo 2: pratica _1.2_metodologia-bem-pratica.html
.ordered-ol {
  background: yellow;

  &__list {
    background: purple;

    &-link-1 {
      background: green;
    }

    &-link-2 {
      background: blue;
    }

    &-link-3--modify {
      background: tomato;
    }
  }
}
